@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@300;400&display=swap');

:root {
    --color1: #fff;
    --color2: #a3a3a3;
    --color3: #334155;
    --color4: #001020;
    --color5: #0f172a;
    --color6: #6528f7;
    --color7: #edc18d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgSVGs img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    z-index: -1;
    opacity: 0.3;
    filter: blur(32px);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color1);
    background: var(--color4);
}

#portofolio {
    max-width: 768px;
    margin: 4rem auto;
    padding: 2.2rem;
    background: var(--color5);
    box-shadow: 0 0 6px 1px #00000045;
    border-radius: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#portofolio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url("./assets/wave.svg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(60px);
}

#portofolio h1 {
    color: var(--color7);
}

.photo {
    background: var(--color5);
    border: 1px solid var(--color4);
    border-radius: 50%;
}

.name {
    margin: 0.8rem 0;
}

.position {
    display: inline-block;
    font-weight: 400;
    background: var(--color6);
    border-radius: 8px;
    padding: 0.6rem 0.8rem;
    margin-bottom: 0.3rem;
}

.line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: var(--color3);
}

.contentBox {
    text-align: left;
    align-items: flex-start;
    margin-top: 1.2rem;
    position: relative;
}

.contentBox h4 {
    color: var(--color7);
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.left {
    width: 45%;
}

.right {
    width: 45%;
}

.contentBox .line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 90%;
}

.left div {
    text-align: justify;
    margin-bottom: 1.5rem;
}

h5 {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

.left p {
    font-size: 0.8rem;
    display: inline;
    color: var(--color2);
}


.right p {
    font-size: 12px;
    display: inline-block;
    background: var(--color3);
    border-radius: 8px;
    padding: 0.2rem 0.4rem;
    margin: 0.2rem 0;
}


@media (max-width: 800px) {
    #portofolio {
        margin: auto;
        border-radius: 0;
    }
}

@media (max-width: 600px) {

    .parent,
    .contentBox {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }

    .contentBox .line {
        display: none;
    }
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: none;
    padding: 0.7rem;
}

.container a {
    position: relative;
    background: var(--color6);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.1rem;
    padding: 0.6rem 1rem;
    transition: 0.5s;
}

.container a:hover {
    letter-spacing: 0.25rem;
    background: var(--color);
    color: var(--color);
    box-shadow: 0 0 35px var(--color);
}

.container a::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: var(--color3);
}

.container a span {
    position: relative;
    z-index: 1;
}

.container a i {
    position: absolute;
    inset: 0;
    display: block;
}

.container a i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--color);
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

.container a:hover i::before {
    left: 20%;
    width: 20px;
}

.container a i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--color);
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

.container a:hover i::after {
    left: 80%;
    width: 20px;
}

.flex {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
}

.container1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    background: none;
    padding: 0.2rem;
}

.container1 a {
    position: relative;
    background: var(--color6);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    padding: 0.4rem 0.8rem;
    transition: 0.5s;
}

.container1 a:hover {
    letter-spacing: 0.13rem;
    background: var(--color);
    color: var(--color);
    box-shadow: 0 0 5px var(--color);
}

.container1 a::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: var(--color3);
}

.container1 a span {
    position: relative;
    z-index: 1;
}

.container1 a i {
    position: absolute;
    inset: 0;
    display: block;
}
